@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Sheffron because it's not available */
body {
  background: #070707;
  color: #ffffff;
  font-family: ui-serif, serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}
